xml/schema/projects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Primitive elements and attributes -->
  <xs:element name="Description" type="xs:string"/>
  <xs:element name="Key" type="xs:string"/>
  <xs:element name="Value" type="xs:string"/>
  <xs:element name="StartDay" type="xs:date"/>
  <xs:element name="EndDay" type="xs:date"/>
  <xs:element name="UriPattern" type="xs:string"/>
  <xs:attribute name="Name" type="xs:string"/>
  <xs:attribute name="href" type="xs:anyURI"/>
  <xs:attribute name="UserKey" type="xs:string"/>

  <xs:element name="UserRef">
    <xs:complexType>
      <xs:attribute ref="UserKey"/>
      <xs:attribute ref="href"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UserRef" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UriPatterns">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UriPattern" minOccurs="1" maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="Property">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Key"/>
        <xs:element ref="Value"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Property" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="Project">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Description"/>
        <xs:element ref="StartDay"/>
        <xs:element ref="EndDay"/>
        <xs:element ref="Users"/>
        <xs:element ref="UriPatterns"/>
        <xs:element ref="Properties" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute ref="Name"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="Projects">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Project" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
  </xs:complexType>
  </xs:element>

  <xs:element name="ProjectRef">
    <xs:complexType>
      <xs:attribute ref="Name"/>
      <xs:attribute ref="href"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ProjectIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ProjectRef" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element> 

</xs:schema>











